<div id="content" ng-controller="ReserveSupplies" ng-init="all()">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="fa fa-check-square-o"></i>Supplies</h2>
                    
                </div>
                <div class="box-content">
                    <form role="form" name="form" novalidate>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <select class="form-control" name="name" ng-model="reserved_supplies.name" ng-options="suppliesresource._id as suppliesresource.name for suppliesresource in suppliesresources" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <div class="controls">
                                    <input type="text" class="form-control" name="qtyreserved" placeholder="input quantity" ng-model="reserved_supplies.qtyreserved" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <button ng-click="submit(form)" class="btn btn-primary">Submit</button>
                                
                            </div>
                        </div>
                    </div>
                    </form>

                    <div class="dataTables_wrapper form-inline" role="grid">
                        <table class="table bootstrap-datatable datatable table-hover">
                            <thead>
                                <tr role="row">
                                    <th>Name</th>
                                    <th>Qty Reserve</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr ng-hide="!suppliesresources || suppliesresources.length">
                                        <td>No resources yet.</td>
                                    </tr>
                                    <tr ng-repeat="resource in suppliesresources">
                                        <td>{{resource.name}}</td>
                                        <td>{{resource.qtyonhand}}</td>
                                        <td><a class="btn btn-danger btn-sm" > <i class="fa fa-minus"></i></a></td>
                                     </tr>                                    
                                </tbody>
                        </table>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>
