<div class="col-xs-6" ng-controller="SelectedSupplies" ng-init="all()">
    <div class="box"> 
        <div class="box-header" data-original-title="">
            <h2><i class="fa fa-scissors"></i>Supplies Reservation</h2>
                <div class="box-icon">
                    <a ui-sref="reserve_supplies" class="btn"><i class="fa fa-plus"></i> Add</a>
                </div>
        </div>
        <div class="box-content">
            
            <div class="dataTables_wrapper form-inline" role="grid">
                <table class="table bootstrap-datatable datatable table-hover">
                    <thead>
                        <tr role="row">
                            <th>Name</th>
                            <th>Qty to Reserve</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-hide="!initiateevents || initiateevents.length">
                            <td>No supplies yet.</td>
                        </tr>
                        <tr ng-repeat="resource in reservedSupplies">
                            <td>{{resource.name}}</td>
                            <td>{{resource.qtyreserved}}</td>
                            <td>
                                <a class="btn btn-danger btn-sm" data-title="Remove" data-trigger="hover" data-placement="top" bs-tooltip> <i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>                                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-6" ng-controller="SelectedSupplies" ng-init="all()">
    <div class="box"> 
        <div class="box-header" data-original-title="">
            <h2><i class="fa fa-pencil"></i>Supplies for Purchase</h2>
                <div class="box-icon">
                    <a ui-sref="purchase_supplies" class="btn"><i class="fa fa-plus"></i> Add</a>
                </div>
        </div>
        <div class="box-content">
            
            <div class="dataTables_wrapper form-inline" role="grid">
                <table class="table bootstrap-datatable datatable table-hover">
                    <thead>
                        <tr role="row">
                            <th>Name</th>
                            <th>Qty</th>
                            <th>Budget</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-hide="!initiateevents || initiateevents.length">
                            <td>No supplies yet.</td>
                        </tr>
                        <tr ng-repeat="resource in purchasedSupplies">
                            <td>{{resource.name}}</td>
                            <td>{{resource.qty}}</td>
                            <td>{{resource.budget}}</td>
                            <td>
                                <a class="btn btn-danger btn-sm" data-title="Remove" data-trigger="hover" data-placement="top" bs-tooltip> <i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>                                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>