<div id="content" ng-controller="PurchaseSupplies" ng-init="all()">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="fa fa-check-square-o"></i>Supplies for Purchase</h2>
                    
                </div>
                <div class="box-content">
                    <form role="form" name="form" novalidate>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <div class="controls">
                                    <input type="text" class="form-control" name="name" placeholder="Type name" ng-model="purchased_supplies.name" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <div class="controls">
                                    <input type="text" class="form-control" name="qtyreserved" placeholder="input quantity" ng-model="purchased_supplies.qty" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <div class="controls">
                                    <input type="text" class="form-control" name="budget" placeholder="input amount" ng-model="purchased_supplies.budget" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <button ng-click="submit(form)" class="btn btn-primary">Submit</button>
                                
                            </div>
                        </div>
                    </div>
                    </form>

                    <div class="dataTables_wrapper form-inline" role="grid">
                        <table class="table bootstradatatable datatable table-hover">
                            <thead>
                                <tr role="row">
                                    <th>Name</th>
                                    <th>Qty</th>
                                    <th>Budget</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr ng-hide="!initiateevents || initiateevents.length">
                                        <td>No resources yet.</td>
                                    </tr>
                                    <tr ng-repeat="resource in purchasedSupplies">
                                        <td>{{resource.name}}</td>
                                        <td>{{resource.qty}}</td>
                                        <td>{{resource.budget}}</td>
                                        <td><a class="btn btn-danger btn-sm" data-title="Remove" data-trigger="hover" data-placement="top" bs-tooltip> <i class="fa fa-trash-o"></i></a></td>
                                     </tr>                                    
                                </tbody>
                        </table>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>
