<div id="content" ng-controller="EventtCtrl"> 
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-pencil"></i>Add</h2>
                </div>


                <div class="box-content">
                    <form role="form" name="form" novalidate>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">Event No.</label>
                                <div class="controls">
                                    <input type="text" class="form-control" name="eventnum" ng-model="eventt.eventnum" required>
                                    <span class="label label-danger pull-right" ng-show="form.eventnum.$error.required">{{form.eventnum.message}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Event Name</label>
                                <div class="controls">
                                    <input type="text" class="form-control" name="name" ng-model="eventt.name" required>
                                    <span class="label label-danger pull-right" ng-show="form.name.$error.required">{{form.name.message}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Event type</label>
                                <div class="controls">
                                    <input type="text" class="form-control" name="eventtype" ng-model="eventt.eventtype" required>
                                    <span class="label label-danger pull-right" ng-show="form.eventtype.$error.required">{{form.eventtype.message}}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Event Location</label>
                                <div class="controls">
                                    <input type="text" class="form-control" name="eventlocation" ng-model="eventt.eventlocation" required>
                                    <span class="label label-danger pull-right" ng-show="form.eventlocation.$error.required">{{form.eventlocation.message}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Event Description</label>
                                <div class="controls">
                                    <input type="text" class="form-control" name="eventdescription" ng-model="eventt.eventdescription" required>
                                    <span class="label label-danger pull-right" ng-show="form.eventdescription.$error.required">{{form.eventdescription.message}}</span>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="control-label">Event Purpose</label>
                                <div class="controls">
                                    <input type="text" class="form-control" name="eventpurpose" ng-model="eventt.eventpurpose" required>
                                    <span class="label label-danger pull-right" ng-show="form.eventpurpose.$error.required">{{form.eventpurpose.message}}</span>
                                </div>
                            </div>                        
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label">Event Date</label>
                                        <div class="controls">
                                            <div class="input-group date">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" name="eventdatefrom" class="form-control" ng-model="eventt.eventdatefrom" data-max-date="{{eventt.eventdatefrom}}" placeholder="From" bs-datepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label">To</label>
                                        <div class="controls">
                                            <div class="input-group date">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" name="eventdateto" class="form-control" ng-model="eventt.eventdateto" data-min-date="{{eventt.eventdateto}}" placeholder="To" bs-datepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Event Time</label>
                                <div class="controls">
                                    <div class="input-group date">
                                        <span class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                        <input type="text" class="form-control" ng-model="eventt.eventtime" name="eventtime" placeholder="Event Time" bs-timepicker>
                                    </div>
                                </div>
                            </div>

                            

                            <label class="control-label">Resource Requirement</label>
                            <div class="form-group">
                                <label class="control-label">Human Resource</label>
                                <div class="controls">
                                    <input type="text" class="form-control" name="hresource" ng-model="eventt.hresource" required>
                                    <span class="label label-danger pull-right" ng-show="form.hresource.$error.required">{{form.hresource.message}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Equipment Resource</label>
                                <div class="controls">
                                    <input type="text" class="form-control" name="eresource" ng-model="eventt.eresource" required>
                                    <span class="label label-danger pull-right" ng-show="form.eresource.$error.required">{{form.eresource.message}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Supplies Resource</label>
                                <div class="controls">
                                    <input type="text" class="form-control" name="sresource" ng-model="eventt.sresource" required>
                                    <span class="label label-danger pull-right" ng-show="form.sresource.$error.required">{{form.sresource.message}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Remarks</label>
                                <div class="controls">
                                    <input type="text" class="form-control" name="eventremarks" ng-model="eventt.eventremarks" required>
                                    <span class="label label-danger pull-right" ng-show="form.eventremarks.$error.required">{{form.eventremarks.message}}</span>
                                </div>
                            </div>
                                                  
                          
                            <div class="form-actions highlight">
                            <button type="button" class="btn btn-primary" ng-click="submit(form)">Submit</button>
                            <button type="reset" class="btn">Clear</button>
                        </div>
                        </div>
                </div>
            </form>
            </div>










        </div>
     
    </div>
</div>
</div>
