<div ng-include="'modules/common/header/view'"></div>
<div ng-include="'modules/common/sidenav/view-main'"></div>
<div id="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-pencil"></i>Propose Event</h2>
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">Proposal Number</label>
                                <div class="controls">
                                    <input class="form-control" id="disabledInput" type="text" placeholder="System Generated" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Proposal Date</label>
                                <div class="controls">
                                    <input class="form-control" id="disabledInput" type="text" placeholder="99/99/99" disabled>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="control-label">Event Proposer</label>
                                <div class="controls">
                                    <input class="form-control" id="disabledInput" type="text" placeholder="User Login Name" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Event Type</label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>EVENT TYPE 1</option>
                                        <option>EVENT TYPE 2</option>
                                        <option>EVENT TYPE 3</option>
                                        <option>EVENT TYPE 4</option>
                                        <option>EVENT TYPE 5</option>
                                        <option>EVENT TYPE 6</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Event Location</label>
                                <div class="controls">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Event Purpose</label>
                                <div class="controls">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        
                            
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label">Event Date</label>
                                        <div class="controls">
                                            <div class="input-group date">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" name="eta" class="form-control" ng-model="planner.eta" data-max-date="{{planner.etd}}" placeholder="From" bs-datepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label">To</label>
                                        <div class="controls">
                                            <div class="input-group date">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" name="etd" class="form-control" ng-model="planner.etd" data-min-date="{{planner.eta}}" placeholder="To" bs-datepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Event Time</label>
                                <div class="controls">
                                    <div class="input-group date">
                                        <span class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                        <input type="text" class="form-control" ng-model="event.time" name="time" placeholder="Event Time" bs-timepicker>
                                    </div>
                                </div>
                            </div>

                            

                            <label class="control-label">Resource Requirement</label>
                            <div class="form-group">
                                <label class="control-label">Human Resource</label>
                                <div class="controls">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Equipment Resource</label>
                                <div class="controls">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Supplies Resource</label>
                                <div class="controls">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Remarks/ Instructions</label>
                                <div class="controls">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                                                  
                          
                            <div class="form-actions highlight">
                                <button type="button" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn">Clear</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
     
    </div>
</div>
</div>
