<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content"> 
            <div class="aside-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="aside-title">Input Human Resource Payment Details</h4>
            </div>
            <div class="aside-body aside-350"> 
                <div class="box-content">
                    <div class="form-group">
                        <label class="control-label">Payment Date</label>
                        <div class="controls">
                            <input type="text" class="form-control" placeholder="99/99/99"> 
                        </div>
                    </div> 
                    
                    <div class="form-group">
                        <label class="control-label">Payment Amount</label>
                        <div class="controls">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    

                </div>
            <div class="aside-footer">
                <button type="button" class="btn btn-success" ng-click="$hide()">Submit</button>
                <button type="button" class="btn" ng-click="$hide()">Cancel</button>
            </div>
        </div>
    </div>
</div>
</div>

					