 <div id="content" ng-controller="SuppliesResourceList" ng-init="all()"> 
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="fa fa-inbox"></i>Supplies</h2>
                    <div class="box-icon">
                        <a ui-sref="supplies_add" class="btn"><i class="fa fa-plus"></i> Add</a>
                    </div>   
                </div>
                <div class="box-content">
                    <div class="dataTables_wrapper form-inline" role="grid">
                        <table class="table bootstrap-datatable datatable table-hover">
                            <thead>
                                <tr role="row">
                                    <!--<th>ID</th>-->
                                    <th>NAME</th>
                                    <th>DESCRIPTION</th>
                                    <th>QTY ON HAND</th>
                                    <th>QTY RESERVE</th> 
                                    <th>ADD QTY</th>  
                                    <th>TOTAL</th>                       
                                </tr>
                            </thead>
                                <tbody>
                                    <tr ng-hide="!suppliesresources || suppliesresources.length">
                                        <td>No resources yet.</td>
                                    </tr>
                                    <tr ng-repeat="resource in suppliesresources">
                                        <td>
                                            <a ui-sref="view_supplies({suppliesResourceId: resource._id})">{{resource.name}}
                                            </a>
                                        </td>
                                        <td>{{resource.description}}</td>
                                        <td>{{resource.qtyonhand}}</td>
                                        <td>{{resource.qtyreserved}}</td>
                                        <td>
                                            <input type="text" class="form-control" name="qty" ng-model="qty" required>
                                        </td>
                                        <td>
  <input type="text" value="{{ parseInt(qty) + parseInt(resource.qtyonhand) }}" />
                                        </td>
                                     </tr>                                    
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
