<div id="sidebar-left" ng-controller="MainNavCtrl">
    <div class="search-box">
        <input type="text" class="search" placeholder="Search Event number..." />
    </div>
    <div class="sidebar-nav" bs-navbar> 
        <ul class="nav nav-tabs nav-stacked main-menu">

            <li data-match-route="statusboard.*">
                <a href="/statusboard" active-path>
                    <i class="fa fa-dashboard"></i>Status Board
                    <span class="active-ptr"><i class="fa fa-sort-asc fa-rotate-90"></i>
                    </span>
                </a>
            </li>
            <li>
                <div class="nav-header">
                    <span class="nav-title">Initiate Event</span>
                    <a href="javascript:;" class="nav-toggle" ng-click="initiateevent = !initiateevent">
                        <i class="fa fa-plus-square-o" ng-show="!initiateevent"></i>
                        <i class="fa fa-minus-square-o" ng-show="initiateevent"></i>
                    </a>
                </div>
                <ul ng-show="initiateevent">
                    <li data-match-route="propose.*">
                        <a ui-sref="propose_event">
                            <i class="fa fa-pencil"></i>Propose
                        </a>
                    </li>
                    <li data-match-route="approve.*">
                        <a ui-sref="approve_event">
                            <i class="fa fa-check-square-o"></i>Approve
                        </a>
                    </li>                 
                </ul>
            </li>    
            <li>
                <div class="nav-header">
                    <span class="nav-title">Prepare Event</span>
                    <a href="javascript:;" class="nav-toggle" ng-click="prepare_event = !prepare_event">
                        <i class="fa fa-plus-square-o" ng-show="!prepare_event"></i>
                        <i class="fa fa-minus-square-o" ng-show="prepare_event"></i>
                    </a>
                </div>
                <ul ng-show="prepare_event" ng-animate="'slide'">
                    <li data-match-route="reserve.*">
                        <a ui-sref="reserve">
                            <i class="fa fa-bars"></i>Reserve
                        </a>
                    </li>
                    <li data-match-route="confirm.*">
                        <a ui-sref="confirm">
                            <i class="fa fa-check-circle"></i>Confirm
                        </a>
                    </li>                   
                </ul>
            </li>       
            <li>
                <div class="nav-header">
                    <span class="nav-title">Implement Event</span>
                    <a href="javascript:;" class="nav-toggle" ng-click="implement_event = !implement_event">
                        <i class="fa fa-plus-square-o" ng-show="!implement_event"></i>
                        <i class="fa fa-minus-square-o" ng-show="implement_event"></i>
                    </a>
                </div>
                <ul ng-show="implement_event" ng-animate="'slide'">
                    <li data-match-route="implement.*">
                        <a ui-sref="implement_event">
                            <i class="fa fa-play"></i>Implement
                        </a>
                    </li>                  
                </ul>
            </li> 
            <li>
                <div class="nav-header">
                    <span class="nav-title">Close Event</span>
                    <a href="javascript:;" class="nav-toggle" ng-click="close_event = !close_event">
                        <i class="fa fa-plus-square-o" ng-show="!close_event"></i>
                        <i class="fa fa-minus-square-o" ng-show="close_event"></i>
                    </a>
                </div>
                <ul ng-show="close_event" ng-animate="'slide'">
                    <li data-match-route="receive.*">
                        <a ui-sref="close_event_receive">
                            <i class="fa fa-arrow-down"></i>Receive Equipment <br/> &amp; Supplies
                        </a>
                    </li>
                    <li data-match-route="reimbursements.*">
                        <a ui-sref="close_event_reimbursements">
                            <i class="fa fa-exchange"></i>Reimbursements
                        </a>
                    </li>
                </ul>
            </li> 
            <li>
                <div class="nav-header">
                    <span class="nav-title">Event Financials</span>
                    <a href="javascript:;" class="nav-toggle" ng-click="event_financials = !event_financials">
                        <i class="fa fa-plus-square-o" ng-show="!event_financials"></i>
                        <i class="fa fa-minus-square-o" ng-show="event_financials"></i>
                    </a>
                </div>
                <ul ng-show="event_financials" ng-animate="'slide'">
                    <li data-match-route="event.*">
                        <a ui-sref="event_financials">
                            <i class="fa fa-usd"></i>Event Financials
                        </a>
                    </li>                  
                </ul>
            </li> 
          
        </ul>
       
    </div>
</div>
