/* Buttons
=================================================================== */
 .btn {
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: none;
    padding: 7px 12px;
}
.btn i {
    margin-top: 2px;
}
.btn-primary {
    color: #ffffff;
    background: #36a9e1;
}
.btn-primary:hover, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #1e8fc6;
}
.btn-primary:active, .btn-primary.active {
    background-color: #1c89be;
}
.btn-warning {
    color: #ffffff;
    background: #fabb3d;
}
.btn-warning:hover, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #f9aa0b;
}
.btn-warning:active, .btn-warning.active {
    background-color: #f4a406;
}
.btn-danger {
    color: #ffffff;
    background: #ff5454;
}
.btn-danger:hover, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #ff2121;
}
.btn-danger:active, .btn-danger.active {
    background-color: #ff1717;
}
.btn-success {
    color: #ffffff;
    background: #78cd51;
}
.btn-success:hover, .btn-success.disabled, .btn-success[disabled] {
    background-color: #5db734;
}
.btn-success:active, .btn-success.active {
    background-color: #59af32;
}
.btn-info {
    color: #ffffff;
    background: #67c2ef;
}
.btn-info:hover, .btn-info.disabled, .btn-info[disabled] {
    background-color: #39afea;
}
.btn-info:active, .btn-info.active {
    background-color: #30ace9;
}
.btn-inverse {
    color: #ffffff;
    background: #444444;
}
.btn-inverse:hover, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #2b2b2b;
}
.btn-inverse:active, .btn-inverse.active {
    background-color: #252525;
}
/* Quick Buttons
=================================================================== */
.quick-button {
    border: 1px solid #ddd;
    margin-bottom: -1px;
    padding: 30px 0px 10px 0px;
    font-size: 14px;
    background-color: #efefef;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#efefef));
    background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
    background-image: -moz-linear-gradient(top, #fafafa, #efefef);
    background-image: -o-linear-gradient(top, #fafafa, #efefef);
    background-image: -ms-linear-gradient(top, #fafafa, #efefef);
    background-image: linear-gradient(top, #fafafa, #efefef);
    -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: block;
    text-align: center;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.quick-button:hover {
    text-decoration: none;
    border-color: #a5a5a5;
    color: #444444;
    text-shadow: 0 1px 0px #ffffff;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}
.quick-button:hover .notification {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}
.quick-button i {
    font-size: 32px;
}
