/* Document List
=================================================================== */
 .document-list {
    padding: 20px;
    margin-top: 0;
    margin-bottom: -30px;
    height: 100%;
}
.document-list-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 3px;
}
.document-list .document-group, .document-list-item {
    background: #e4e6eb;
}
.document-list-header span {
    padding: 10px;
    color: #333;
    display: inline-block;
    font-size: 16px;
}
.document-list-item {
    border-bottom: 1px solid #ddd;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    margin-bottom: 2px;
}
.document-list-header .btn-inverse{
    padding: 1px 6px;
    float: right;
    margin: 10px;
}
.document-list-header .btn-inverse:hover {
    color: #eee;
}
/* File Upload
=================================================================== */
 ul.upload-docs {
    list-style: none;
    padding: 0;
    position: relative;
}
ul.upload-docs li {
    list-style: none;
    padding: 7px 0 7px;
    border-bottom: 1px solid #eee;
    font-size: 12px;
}
ul.upload-docs li .label {
    position: absolute;
    right: 0;
}
ul.upload-docs li:last-child {
    border-bottom: 0;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}