<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="aside-title">Event Approver</h4>
            </div>
            <div class="aside-body aside-350">
              <table class="table bootstrap-datatable datatable table-hover">
                <tr>
                  <td><label class="control-label">Proposal Number</label></td>
                  <td>PH-0001</td>
                </tr>
                <tr>
                  <td><label class="control-label">Proposal Date</label></td>
                  <td>99/99/99</td>
                </tr>
                <tr>
                  <td><label class="control-label">Event Proposer</label></td>
                  <td>Hou Yi Fan</td>
                </tr>
                <tr>
                  <td><label class="control-label">Event Type</label></td>
                  <td>Event Type A afebia</td>
                </tr>
                <tr>
                  <td><label class="control-label">Event Description</label></td>
                  <td>Sample description aksrb</td>
                </tr>
                <tr>
                  <td><label class="control-label">Event Purpose</label></td>
                  <td>sample purpose egbaig</td>
                </tr>
                <tr>
                  <td><label class="control-label">Event Date</label></td>
                  <td>99/99/99</td>
                </tr>
                <tr>
                  <td><label class="control-label">Event Location</label></td>
                  <td>Manila aeubgoaube</td>
                </tr>
                <tr>
                  <td><label class="control-label">Event Remarks</label></td>
                  <td>sample remarks laehbgi</td>
                </tr>
                <tr>
                  <td><label class="control-label">Approval Status</label></td>
                  <td><div class="form-group">
                          <select class="form-control">
                            <option>Approve</option>
                            <option>Disapprove</option>
                            <option>Pending</option>
                          </select>
                        </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="control-label">Approver Remarks</label></td>
                  <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                  <td><label class="control-label">Approval Date</label></td>
                            
                  <td><div class="controls">
                        <div class="input-group date">
                          <span class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                          </span>
                            <input type="text" name="adate" class="form-control" ng-model="approval.date" data-max-date="{{planner.etd}}" placeholder="From" bs-datepicker>
                        </div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="control-label">Approval Time</label></td>
                  <td>
                            <div class="controls">
                              <div class="input-group date">
                                <span class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                                </span>
                                <input type="text" class="form-control" ng-model="approval.time" name="time" placeholder="Approval Time" bs-timepicker>
                              </div>
                            </div>
                  </td>
                </tr>
              </table>
            <div class="aside-footer">
                <button type="button" class="btn" ng-click="$hide()">Submit</button>
                <button type="button" class="btn" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>
