<div id="content">
    <div class="row">
        <div class="col-xs-7">
            <div class="box" ng-controller="BrokerEdit" ng-init="findOne()">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-cog"></i>Edit Broker</h2>
                </div>
                <div class="box-content">
                    <form role="form" name="form" novalidate>
                        <div class="form-group">
                            <label class="control-label">Broker No.</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="no" ng-model="broker.no" required>
                                <span class="label label-danger pull-right" ng-show="form.no.$error.required">{{form.no.message}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Broker Name</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="name" ng-model="broker.name" required>
                                <span class="label label-danger pull-right" ng-show="form.name.$error.required">{{form.name.message}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Broker Address</label>
                            <div class="controls">
                                <textarea class="form-control" name="address" ng-model="broker.address" required></textarea>
                                <span class="label label-danger pull-right" ng-show="form.address.$error.required">{{form.address.message}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Telephone no.</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="tel" ng-model="broker.tel" required>
                                <span class="label label-danger pull-right" ng-show="form.tel.$error.required">{{form.tel.message}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Contact Person</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="contact" ng-model="broker.contact">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email Address</label>
                            <div class="controls">
                                <input type="text" class="form-control" name="email" ng-model="broker.email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Valid From</label>
                                    <div class="controls">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" name="valid_from" class="form-control" ng-model="broker.valid_from" data-max-date="{{broker.valid_to}}" placeholder="From" bs-datepicker required>
                                        </div>
                                        <span class="label label-danger pull-right" ng-show="form.valid_from.$error.required">{{form.valid_from.message}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">Valid To</label>
                                    <div class="controls">
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" name="valid_to" class="form-control" ng-model="broker.valid_to" data-min-date="{{broker.valid_from}}" placeholder="To" bs-datepicker required>
                                        </div>
                                        <span class="label label-danger pull-right" ng-show="form.valid_to.$error.required">{{form.valid_to.message}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span>
                                <small>Added by: {{broker.creator.name}}, {{broker.created | date: 'medium'}}</small>
                            </span>
                        </div>
                        <div class="form-actions highlight">
                            <button ng-click="update(form)" class="btn btn-primary">Update</button>
                            <a href="/settings/broker" class="btn btn-default">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-5">

        </div>
    </div>
</div>
