<div id="content" ng-controller="ApproveEvent" ng-init="findOne()">
    <div class="row">
        <div class="col-xs-7">
            <div class="box">
                <div class="box-header">
                    <h2>
                        <i class="fa fa-suitcase"></i>Approve</h2>
                </div>
                <div class="box-content">
                        <div class="form-group">
                            <div>                                
                                <span class="label pull-right" ng-class="{'label-info': initiateevent.approvalStatus == 'Waiting', 'label-warning': initiateevent.approvalStatus == 'Pending', 'label-success': initiateevent.approvalStatus == 'Approve', 'label-danger': initiateevent.approvalStatus == 'Disapprove'}">{{initiateevent.approvalStatus}}</span>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <div class="controls">
                                <div class="label-value">{{initiateevent.name}}</div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label">Location</label>
                            <div class="controls">
                                <div class="label-value">{{initiateevent.eventlocation}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <div class="controls">
                                <div class="label-value">{{initiateevent.eventdescription}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Purpose</label>
                            <div class="controls">
                                <div class="label-value">{{initiateevent.eventpurpose}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Event Date</label>
                                <div class="controls">
                                    <div class="label-value">{{initiateevent.eventdatefrom}} to {{initiateevent.eventdateto}}</div>
                                </div>
                        </div>
                        <div class="form-group">
                                <label class="control-label">Event Time</label>
                                <div class="controls">
                                    <div class="label-value">{{initiateevent.eventtime}}</div>
                                </div>
                            </div>
                        
                            <label class="control-label">Resource Requirement</label>
                            <div class="form-group">
                                <label class="control-label">Human Resource</label>
                                <div class="controls">
                                    <div class="label-value">{{initiateevent.hresource}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Equipment Resource</label>
                                <div class="controls">
                                    <div class="label-value">{{initiateevent.eresource}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Supplies Resource</label>
                                <div class="controls">
                                    <div class="label-value">{{initiateevent.sresource}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Remarks</label>
                                <div class="label-value">{{initiateevent.eventremarks}}</div>
                            </div>

                            <div class="form-group">
                                <span>
                                    <small>Added: {{initiateevent.creator.name}}, {{initiateevent.created | date: 'medium'}}</small>
                                </span>
                            </div>
                            
                        </div>
                    </div>
                </div>
                    
       
        <div class="col-xs-5">
            <div class="box">  
                <div class="box-header" data-original-title="">
                    <h2><i class="fa fa-book"></i>Approve</h2>
                        
                </div>
                <div class="box-content">
                    <form role="form" name="form" novalidate>
                    <div class="form-group">
                        <label class="control-label">Approval Status</label>
                            <div class="controls">
                            <select class="form-control" name="approvalStatus" ng-model="initiateevent.approvalStatus" required>
                                <option value="Waiting">Select</option>
                                <option value="Approve">Approve</option>
                                <option value="Disapprove">Disapprove</option>
                                <option value="Pending">Pending</option>
                            </select>
                            </div>
                    </div>
                    <div class="form-group">

                            <label class="control-label">Remarks</label>
                            <div class="controls">
                                <textarea class="form-control" name="approvalRemarks" ng-model="initiateevent.approvalRemarks" required></textarea>
                                
                            </div>
                    </div>
                    <div class="form-actions highlight">
                                <button ng-click="update(form)" class="btn btn-primary">Submit</button>
                                <a ui-sref="approve_event" class="btn btn-default">Cancel</a>
                            </div>
                    </form>
                </div>
            </div>
        </div>       
    </div>
</div>