<div id="content" ng-controller="ReserveHr" ng-init="all()">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header" data-original-title="">
                    <h2><i class="fa fa-check-square-o"></i>HR</h2>
                    
                </div>
                <div class="box-content">
                    <form role="form" name="form" novalidate>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Skill Type">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Location">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Status">
                            </div>
                        </div>
                        
                        
                    </div>

                    <div class="dataTables_wrapper form-inline" role="grid">
                        <table class="table bootstrap-datatable datatable table-hover">
                            <thead>
                                <tr role="row">
                                    <th>Picture</th>
                                    <th>Name</th>
                                    <th>Skill Type</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr ng-hide="!humanresources || humanresources.length">
                                        <td>No resource yet.</td>
                                    </tr>
                                    <tr ng-repeat="resource in humanresources">
                                        
                                        <td><div class="avatar">
                                          <img src="assets/images/avatar.jpg" alt="Avatar">
                                            </div>
                                        </td>
                                       
                                        <td>{{resource.name}}</td>
                                        <td>{{resource.skill}}</td>
                                        <td>Available</td>
                                        <td>
                                            <a class="btn btn-success btn-sm" ui-sref="reserve_hr_view({humanResourceId: resource._id})" data-title="View" data-trigger="hover" data-placement="top" bs-tooltip> <i class="fa fa-eye"></i></a>

                                            <a class="btn btn-warning btn-sm" data-title="Reserve" data-trigger="hover" data-placement="top" bs-tooltip> <i class="fa fa-plus"></i></a>
                                            <!--<button type="submit" class="btn btn-primary" ng-click="$hide()">Reserve</button>-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                   