<div id="content">
    <div class="row">

        <div class="col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-th-list"></i>Event Summary</h2>
                </div>
                <div class="box-content">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label">Event No</label>
                                </div>
                                <div class="col-md-3">
                                    EV-0001
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label">Event Proposer</label>
                                </div>
                                <div class="col-md-3">
                                    Juan Dela Cruz
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label">Event Type</label>
                                </div>
                                <div class="col-md-4">
                                     Sugar/BP Screening
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label">Event Description</label>
                                </div>
                                <div class="col-md-4">
                                     Blood pressure check and blood sugar.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label">Event Purpose</label>
                                </div>
                                <div class="col-md-4">
                                     In order to prevent expensive hospitalizations, all adults should have a blood pressure check and blood sugar screen every 2 to 3 years.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label">Event Date</label>
                                </div>
                                <div class="col-md-3">
                                     6/19/2014
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label">Event Location</label>
                                </div>
                                <div class="col-md-3">
                                     Manila
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label">Required Resources</label>
                                </div>
                                <div class="col-md-3">
                                     5 Doctors, 10 Nurses, BP Machines, Supplies
                                </div>
                            </div>
                        </div>
                        
               </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-pencil"></i>Receive Equipment/Supplies</h2>
                </div>
                     <div class="box-content">
                        <div class="dataTables_wrapper form-inline" role="grid">
                            <table class="table bootstrap-datatable datatable table-hover">
                                <thead>
                                    <tr role="row">
                                        <th>Serial No.</th>
                                        <th>Equipment</th>
                                        <th>Assigned Date</th> 
                                        <th>Receive</th>                                                  
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1234-4312</td>
                                        <td>BP Machine</td>
                                        <td>6/19/2014 to 6/27/2014</td>
                                        <td>
                                            <button type="submit" class="btn btn-primary" ng-click="$hide()">Receive</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>   
<hr/>
                <div class="box-content">
                    <div class="dataTables_wrapper form-inline" role="grid">
                        <table class="table bootstrap-datatable datatable table-hover">
                            <thead>
                                <tr role="row">
                                    <th>Supplies</th>
                                    <th>Quantity Issued</th> 
                                    <th>Quantity Received</th>
                                    <th>Receive</th>                                                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cotton</td>
                                    <td>300</td>
                                    <td><input type="text" class="form-control"></td>
                                    <td>
                                        <button type="submit" class="btn btn-primary" ng-click="$hide()">Receive</button>
                                    </td>
                                </tr>
                                

                            </tbody>
                        </table>
                    </div>
                </div>


                        
                   
                    </div>
                </div>
            </div>
        </div>


