<div id="content">
    <div class="row">
        <div class="col-xs-7">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-pencil"></i>Input Payment Details</h2>
                </div>
                <div class="box-content">
                    <div class="form-group">
                        <label class="control-label">Payment Date</label>
                        <div class="controls">
                            <input type="text" class="form-control" placeholder="99/99/99"> 
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="control-label">Payment Description</label>
                        <div class="controls">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Payment Amount</label>
                        <div class="controls">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="control-label">Payment Method</label>
                            <div class="form-group">
                                <select class="form-control">
                                    <option>Cash</option>
                                    <option>Check</option>
                                </select>
                            </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Check No.</label>
                        <div class="controls">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    

                </div>
            <div class="aside-footer">
                <button type="button" class="btn btn-success" ng-click="$hide()">Submit</button>
                <button type="button" class="btn" ng-click="$hide()">Cancel</button>
            </div>
        

			</div>
        </div>
    </div>
</div>