<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="aside-title">Input Records</h4>
            </div>
            <div class="aside-body aside-350">
              <label class="control-label">Name</label>
                    <input type="text" class="form-control" placeholder="Type Name">
                    <label class="control-label">BP Diastolic</label>
                    <input type="text" class="form-control" placeholder="Type Diastolic">
                    <label class="control-label">BP Systolic</label>
                    <input type="text" class="form-control" placeholder="Type Systolic">
            <div class="aside-footer">
                <button type="button" class="btn" ng-click="$hide()">Add</button>
                <button type="button" class="btn" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>


					